<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  aims to help researchers get their work done
  in less time and with less pain
  by teaching them basic research computing skills.
  This hands-on workshop will cover basic concepts and tools,
  including program design, version control, data management,
  and task automation.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
  <br />
  Owen Graduate School of Managemnet's "Software Computing" program is based 
  on the Software Carpentry model. The program will introduce participants, 
  who have minimal or no prior knowledge in computational skills, 
  to build an underlying skill-set for programing, 
  methods for working with other programmers to collaborate and track code, 
  as well as the basics of some commonly used tools.  
  A Certificate of Completion will be provided to participants who fulfil the workshop requirements.

</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
