<div class="row">
  <div class="col-md-6">
    <h3>Day 1: March 15th</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>9:30</td>  <td>Coffee and snacks</td> </tr>
      <tr> <td>10:00</td>  <td>START: Automating tasks with the Unix shell</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Automating tasks with the Unix shell cont.</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2: March 22nd</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Coffee and snacks</td> </tr>
      <tr> <td>10:00</td>  <td>START: Version control with Git</td> </tr>
      <tr> <td>12:00</td>  <td>Break</td> </tr>
      <tr> <td>12:30</td>  <td>Version control with Git cont.</td> </tr>
      <tr> <td>13:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>13:30</td>  <td>END</td> </tr>
    </table>
  </div>
   <div class="col-md-6">
    <h3>Day 3: March 29th</h3>
    <table class="table table-striped">
      <tr> <td>9:30</td>  <td>Coffee and snacks</td> </tr>
      <tr> <td>10:00</td>  <td>START: Programming with Python, Part 1</td> </tr>
      <tr> <td>12:00</td>  <td>Break</td> </tr>
      <tr> <td>12:30</td>  <td>Programming with Python, Part 1 cont.</td> </tr>
      <tr> <td>13:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>13:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4: April 5th</h3>
    <table class="table table-striped">
      <tr> <td>9:30</td>  <td>Coffee and snacks</td> </tr>
      <tr> <td>10:00</td>  <td>START: Programming with Python, Part 2</td> </tr>
      <tr> <td>12:00</td>  <td>Break</td> </tr>
      <tr> <td>12:30</td>  <td>Programming with Python, Part 2 cont.</td> </tr>
      <tr> <td>13:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>13:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 5: April 12th</h3>
    <table class="table table-striped">
      <tr> <td>9:30</td>  <td>Coffee and snacks</td> </tr>
      <tr> <td>10:00</td>  <td>START: Using Databases and SQL, Part 1</td> </tr>
      <tr> <td>12:00</td>  <td>Break</td> </tr>
      <tr> <td>12:30</td>  <td>Using Databases and SQL, Part 1 cont.</td> </tr>
      <tr> <td>13:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>13:30</td>  <td>END</td> </tr>
    </table>
  </div>
   <div class="col-md-6">
    <h3>Day 6: April 19th</h3>
    <table class="table table-striped">
      <tr> <td>9:30</td>  <td>Coffee and snacks</td> </tr>
      <tr> <td>10:00</td>  <td>START: Using Databases and SQL, Part 2</td> </tr>
      <tr> <td>12:00</td>  <td>Break</td> </tr>
      <tr> <td>12:30</td>  <td>Using Databases and SQL, Part 2 cont.</td> </tr>
      <tr> <td>13:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td><a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>13:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
